---
swagger: "2.0"
info:
  title: "ZamZam API"
  description: "Test"
  version: "0.0.1"
  
host: "zam.me"
basePath: "/api/v1"
schemes:
  - "https"

consumes:
  - application/json
produces:
  - application/json

paths:
  /auth/signup:
    post:
      summary: Create new user and get auth token
      parameters:
        - in: body
          name: body
          required: true
          description: Create user request
          schema:
            $ref: "#/definitions/UserSingupRequest"
      responses:
        201:
          description: User auth token
          schema:
            $ref: '#/definitions/UserTokenResponse'
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"

  /auth/signin:
    post:
      summary: Authorize user and get auth token
      parameters:
        - in: body
          name: body
          required: true
          description: Create user request
          schema:
            $ref: "#/definitions/UserSigninRequest"
      responses:
        200:
          description: Authorized successfully
          schema:
            $ref: '#/definitions/UserTokenResponse'
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"
  /auth/signout:
    delete:
      summary: Invalidates user's current authorization session
      responses:
        200:
          description: Ok, token session invalidated
          schema:
            $ref: "#/definitions/BaseResponse"
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"
  /auth/check:
    get:
      summary: Checks if user authorized, returns his phone on success
      responses:
        200:
          description: Ok, user authorized
          schema:
            $ref: "#/definitions/UserPhoneResponse"
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"

  /auth/confirmation/{link}:
    post:
      summary: Confirm user phone
      parameters:
        - in: path
          name: link
          required: true
          type: string
          description: Confirmation ID
      responses:
        201:
          description: Validation successfull
          schema:
            $ref: '#/definitions/UserTokenResponse'
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"
          
  /auth/receive/{link}:
    post:
      summary: Create new user from pending transaction
      parameters:
        - in: path
          name: link
          required: true
          type: string
          description: Recv invitation ID
      responses:
        204:
          description:  User created by recv invitation
          schema:
            $ref: '#/definitions/UserTokenResponse'
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"

  /user/me:
    get:
      summary: Get specified user info
      responses:
        200:
          description: User info
          schema:
            $ref: "#/definitions/UserResponse"
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"
        
  /user/me/verify:
    post:
      summary: Create user KYC request
      parameters:
        - in: body
          name: body
          required: true
          description: Create KYC form
          schema:
            $ref: "#/definitions/UserCreateKYCRequest"
      responses:
        201:
          description: KYC request created
          schema:
            $ref: "#/definitions/UserKYCResponse"
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"
    get:
      summary: Get user KYC request info
      responses:
        200:
          description: User KYC request info
          schema:
            $ref: "#/definitions/UserKYCResponse"
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"

  /user/me/refferals:
    get:
      summary: Get list of user refferals
      responses:
        200:
          description: List of refferals
          schema:
            properties:
              refferals:    
                type: array
                items:
                  type: string
                  format: uuid
                  description: Refferal user ID
  
  /user/me/wallets:
    post:
      summary: Create new user wallet for given coin
      parameters:
        - in: body
          name: body
          required: true
          description: Create wallet request
          schema:
            $ref: "#/definitions/UserCreateWalletRequest"
      responses:
        201:
          description: New wallet has been successfully created
          schema:
            $ref: "#/definitions/UserWalletResponse"
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"
    get:
      summary: Get all user wallets
      parameters:
        - in: query
          name: coin
          required: false
          type: string
          description: "Filter by: coin name"
        - in: query
          name: wallet_id
          required: false
          type: string
          description: Wallet ID
        - in: query
          name: page
          type: string
          required: false
          description: Reference to the page
        - in: query
          name: count
          type: integer
          required: false
          description: Number of items to show on the page
      responses:
        200:
          description: All user wallets in a list
          schema:
            $ref: "#/definitions/UserAllWalletsResponse"
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"
  
  /user/me/wallets/{wallet_id}:
    parameters:
      - in: path
        name: wallet_id
        required: true
        type: string
        description: Wallet ID
    get:
      summary: Request user wallet info by wallet id
      responses:
        200:
          description: Wallets list
          schema:
            $ref: "#/definitions/UserWalletResponse"
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"

  /user/me/txs:
    get:
      summary: Get all transactions or use filters
      parameters:
        - in: query
          name: coin
          required: false
          type: string
          description: "Filter by: coin name"
        - in: query
          name: wallet_id
          required: false
          type: string
          description: "Filter by: wallet ID"
        - in: query
          name: recipient
          required: false
          type: string
          description: "Filter by: Recipient address"
        - in: query
          name: from_time
          type: string
          format: date-time
        - in: query
          name: until_time
          type: string
          format: date-time
        - in: query
          name: page
          type: string
          required: false
          description: Reference to the page
        - in: query
          name: count
          type: integer
          required: false
          description: Number of items to show on the page
      responses:
        200:
          description: Transactions list
          schema:
            $ref: "#/definitions/WalletAllTransactionsResponse"
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"
    post:
      summary: Send transaction
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/WalletSendTransactionRequest"
      responses:
        201:
          description: Pending transaction created
          schema:
            $ref: "#/definitions/WalletSendTransactionResponse"
  
  /user/me/txs/{tx_id}:
    parameters:
      - in: path
        name: tx_id
        required: true
        type: string
        description: Transaction ID
    get:
      summary: Get transaction for specified ID
      responses:
        200:
          description: Transaction
          schema:
            $ref: "#/definitions/WalletTransactionResponse"
        default:
          description: In case of any error
          schema:
            $ref: "#/definitions/Error"

definitions:
  UserSingupRequest:
    properties:
      phone:
        type: string
        description: Valid phone number of the user
      password:
        type: string
        format: password
      password_confirmation:
        type: string
        format: password
      refferer_phone:
        type: string
        description: Valid phone of person which sent invite which leads to this call
    required:
      - phone
      - password
      - password_confirmation
  
  BaseResponse:
    properties:
      result:
        type: boolean

  UserTokenResponse:
    allOf:
      - $ref: "#/definitions/BaseResponse"
      - type: object
        properties:
          data:
            type: object
            properties:    
              token:
                type: string
                description: User authorization token
                example: "asdfjbkasfkjasdfl"
    required:
      - token
      - data
  
  UserPhoneResponse:
    allOf:
      - $ref: "#/definitions/BaseResponse"
      - type: object
        properties:
          phone:
            type: string
            description: User phone number
    required:
      - phone

  UserSigninRequest:
    properties:
      phone:
        type: string
        description: Valid phone number of already created user
      password:
        type: string
        format: password
        description: User passowrd
    required:
      - phone
      - password

  User:
    properties:
      id:
        type: string
        description: Unique user identifier
      phone:
        type: string
        description: User phone in international form
      refferer_id:
        type: string
        description: Identifier or user refferer
      registered:
        type: string
        description: Date when user registration occurs
        format: date-time
        example: 2017-07-21T17:32:28Z
  
  UserResponse:
    allOf:
      - $ref: "#/definitions/BaseResponse"
      - type: object
        properties:
          user:
            $ref: "#/definitions/User"

  UserKYCData:
    properties:
      user_id:
        type: string
        description: User reference
      name:
        type: string
        description: User name
      surname:
        type: string
        description: User surname
      birthdate:
        type: string
        description: Date of the user birthdate
        format: date
        example: 1900-07-21T17:32:28Z
      country:
        type: string
        description: Main user citizenship
        example: Ethiopia
      address:
        type: string
        description: User living address
      email:
        type: string
        format: email
      status:
        $ref: "#/definitions/UserKYCStatus"
    required:
      - user_id
      - name
      - surname
      - birthdate
      - country
      - address
      - email
      - status
  
  UserCreateKYCRequest:
    $ref: "#/definitions/UserKYCData"

  UserKYCResponse:
    allOf:
      - $ref: "#/definitions/BaseResponse"
      - type: object
        properties:
          kyc:
            $ref: "#/definitions/UserKYCData"
      
  UserKYCStatus:
    type: string
    enum:
      - pending
      - rejected
      - verified
  
  CoinType:
    type: string
    description: Specifies coin type
    enum:
      - eth
      - btc
      - btcc
      - zam

  UserCreateWalletRequest:
    properties:
      coin:
        $ref: "#/definitions/CoinType"
      wallet_name:
        type: string
        description: Optional name for user wallet
    required:
      - coin
  
  UserWalletData:
    type: object
    properties:
      id:
        type: string
        format: uuid
        description: Unique wallet id
      coin:
        $ref: "#/definitions/CoinType"
      wallet_name:
        type: string
        description: Optional name for user wallet
      address:
        type: string
        description: Real address inside coin blockchain
      balance:
        type: number
        description: Wallet balance
    required:
      - id
      - coin
      - wallet_name
      - address
      - balance

  UserWalletResponse:
    allOf:
      - $ref: "#/definitions/BaseResponse"
      - type: object
        properties:
          wallet:
            $ref: "#/definitions/UserWalletData"
      
  UserAllWalletsResponse:
    allOf:
      - $ref: "#/definitions/BaseResponse"
      - type: object
        properties:
          сount:
            type: integer
            description: Count of returned transactions
          next:
            type: string
            description: Reference to the next page
          wallets:
            items:
              $ref: "#/definitions/UserWalletData"

  WalletTransactionStatus:
    description: Describes transaction status
    type: string
    enum:
      - pending
      - awaiting_recipient
      - awaiting_confirmations
      - done
      - cancelled
      - failed

  WalletTransactionData:
    properties:
      id:
        type: string
        description: Unique identifier of the transaction
      direction:
        type: string
        enum:
          - incoming
          - outgoing
      status:
        $ref: "#/definitions/WalletTransactionStatus"
      coin:
        $ref: "#/definitions/CoinType"
      recipient:
        type: string
        description: |
          'Recipinet of this transaction, on of "me", "coin_address", "user_id"'
      amount:
        type: number
        description: Amount of transferred coins
    required:
      - id
      - direction
      - recipient
      - amount
  
  WalletSendTransactionRequest:
    properties:
      wallet_id:
        type: string
        description: Wallet for featured transaction
      recipient:
        type: string
        description: |
          'Recipinet of this transaction, on of "me", "coin_address", "user_id"'
      amount:
        type: number
        description: Amount of transferred coins
  
  WalletSendTransactionResponse:
    allOf:
      - $ref: "#/definitions/BaseResponse"
      - type: object
        properties:
          transaction:
            $ref: "#/definitions/WalletTransactionData"
      
  WalletTransactionResponse:
    allOf:
      - $ref: "#/definitions/BaseResponse"
      - type: object
        properties:
          transaction:
            $ref: "#/definitions/WalletTransactionData"

  WalletAllTransactionsResponse:
    allOf:
      - $ref: "#/definitions/BaseResponse"
      - type: object
        properties:
          сount:
            type: integer
            description: Count of returned transactions
          next:
            type: string
            description: Reference to the next page
          transactions:
            items:
              $ref: "#/definitions/WalletTransactionData"

  Error:
    description: Describes error occured while request
    properties:
      message:
        type: string
        description: Generally describes error
      fields:
        description: |
          This field is presented in case when error is cause of missed, misstyped or wrong formatted request 
          parameter passed throught POST JSON body, query or path
        type: array
        items:
          properties:
            name:
              type: string
              description: Name of parameter which occurs error
            input:
              type: string
              description: Describes the way in which this parameter has come
            message:
              type: string
              description: Describes what wrong with this field